.autocomplete {
    /*the container must be positioned relative:*/
    position: relative;
    display: inline-block;
}

.autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
}

.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
    /*when hovering an item:*/
    background-color: #e9e9e9;
}
.autocomplete-active {
    /*when navigating through the items using the arrow keys:*/
    background-color: DodgerBlue !important;
    color: #ffffff;
}

.transparent-button {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    display: block;
}

@font-face {
    font-family: BiteChocolate;
    src: url(/fonts/bite_chocolate.ttf);
}

@font-face {
    font-family: Summer;
    src: url(/fonts/SummerFont-Light.ttf);
}

@font-face {
    font-family: Nunito;
    src: url(/fonts/NunitoSans.ttf);
}

.biteChocolate {
    font-family: BiteChocolate;
}

button:focus {outline:0;}

.summerBehind {
    background-image: url('/images/summer-background.jpg');
    background-size: cover;
}

.summerFonted {
    font-family: Summer;
}
.nunitoFonted {
    font-family: Nunito, sans-serif;
}

.shadow-glass {
    padding-bottom: 4px;
    padding-top: 4px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 4px;
    box-shadow: 6px 8px  5px gray;
    background-size: 100% 100%;
    background-image: url('/images/glass-background.png');
}

.overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 2;
    background: rgba(0, 0, 0, 0.5);
}

.x_button {
    position: absolute;
    right: 8px;
    height: 20px;
    width: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.equalParent {
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
}